{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Order preview" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
    {% trans "Preview order" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body bg-light mb-3">
                <h4>{% trans "Contact / Gateway Info" %}</h4>
                <ul class="list-unstyled">
                    <li><strong>{% trans "First name" %}:</strong> {{ checkout_session.get_guest_first_name|default_if_none:"-" }}</li>
                    <li><strong>{% trans "Last name" %}:</strong> {{ checkout_session.get_guest_last_name|default_if_none:"-" }}</li>
                    <li><strong>{% trans "Email" %}:</strong> {{ checkout_session.get_guest_email|default_if_none:"-" }}</li>
                    <li><strong>{% trans "Phone" %}:</strong> {{ checkout_session.get_guest_phone_number|default_if_none:"-" }}</li>
                </ul>
            </div>
        </div>
        {% if delivery_type == 'delivery' and shipping_address %}
        <div class="col-md-6">
            <div class="card card-body bg-light mb-3">
                <h4>{% trans "Shipping Address" %}</h4>
                <address>
                    {% for field in shipping_address.active_address_fields %}
                        {{ field }}<br/>
                    {% endfor %}
                </address>
                {% if shipping_address.phone_number %}
                    <p><strong>{% trans "Phone" %}:</strong> {{ shipping_address.phone_number }}</p>
                {% endif %}
                {% if shipping_address.notes %}
                    <p><strong>{% trans "Instructions" %}:</strong> {{ shipping_address.notes|linebreaks }}</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    {{ block.super }}
{% endblock %}

{% block place_order %}
    <form method="post" action="{% url 'checkout:payment-details' %}" id="place_order_form">
        {% csrf_token %}
        {% comment %} <input type="hidden" name="action" value="place_order" /> {% endcomment %}
        <input type="hidden" name="payment_method" value="{{payment_method}}" />

        {% comment %}
            When submitting sensitive data on the payment details page (eg a bankcard)
            we don't want to save the data and so we pass the bound form to the preview
            template and render it in a hidden div.  Then the payment information will
            get re-submitted when the user confirms the order.
        {% endcomment %}
        <div style="display:none">
            {% block hiddenforms %}{{ stripe_token_form }}{% endblock %}
        </div>

        <div class="form-group clearfix">
            <div class="row">
                <div class="col-sm-3 offset-sm-9">
                     <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock place_order %}
